.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 180px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.controls button {
  padding: 5px 10px;
  border: none;
  background-color: #ff6347;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.controls span {
  font-weight: bold;
}
p, span, h3{
  color: black;
}