.book{
    border: 2px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}
button{
    background-color:rgb(235, 207, 170);
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
}
button:hover{
    background-color: cadetblue;
}